
.words{
   position: relative;
   overflow: hidden;
   width: 100%;
   height:40px ;
}
.word{
   display: block;
   height: 100%;
   padding-left: 6px;
   line-height: 20px;
   font-weight: 500;
   font-size: 22px;
   letter-spacing: 1px;
   color: rgb(248, 204, 61);
   animation: spin 7s infinite;
}
@keyframes spin {
  0% {
    transform: translateY(0%);  /* Primer texto estable al inicio */
  }
  20% {
    transform: translateY(0%);  /* Hold del primero */
  }
  25% {
    transform: translateY(-100%);  /* Transici칩n r치pida al segundo */
  }
  45% {
    transform: translateY(-100%);  /* Hold del segundo */
  }
  50% {
    transform: translateY(-200%);  /* Transici칩n al tercero */
  }
  70% {
    transform: translateY(-200%);  /* Hold del tercero */
  }
  75% {
    transform: translateY(-300%);  /* Transici칩n al cuarto */
  }
  95% {
    transform: translateY(-300%);  /* Hold del cuarto */
  }
  100% {
    transform: translateY(-400%);  /* Finaliza en el cuarto, pero el infinite lo resetea a 0% */
  }
}